* {
    font-family: cursive;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: rgb(82, 79, 79);
    margin: 50px;
}

***want to give border around just the outside of document
****want to add straight line under calculator